@charset "utf-8";
/* CSS Document for login page */
/* Color sugestion: #284D91 */

h1{
	font: bold 22px "Arial";
	margin: 0px 80px;
	color: #888888;
}
h2{
	font: italic 14px "Arial";
	margin: 0px 80px;
	color: #52a8bf;
}
h4{
	color: #666666;
	font: normal 11px 'Arial';
	text-align: center;
}
label {
	 background-color: #284D91;
	 color: #ffffff;
	 padding: 1px 5px;
	 margin: 0px auto;
	 font: bold 11px 'Arial';
} 
body{
	padding: 0px;
	margin: 0px;
	color: #1E2664;
 	font: bold 11px 'Arial';
	text-align: center;
	background: #88b8ea url(images/site2.gif) repeat-x;
}
fieldset{
	border: solid 1px #91B5D9;
	padding: 30px 50px;
	color: #5076DC;
	margin: 20px 3px;
}
legend{
	color: #5076DC;
}
form{
	text-align: left;
}
input { 
	border: solid 1px #28409D; 
	border-right: solid 1px #91B5D9; 
	border-bottom: solid 1px #91B5D9; 
	font-size: 11px;
	padding: 1px;
	margin: 0px;
	margin-bottom: 5px;
}
#response {
	color: #FF6600;
}
.submit {
	background-color: #284D91;
	color: #ffffff;
	padding: 0px 5px;
	margin: 0px auto;
	border: none;
	font: bold 11px 'Arial';
	cursor: pointer;
} 
.submit:hover {
	background-color: #4378C9;
} 
.top{
	display: block;
	padding: 15px 0px 0px 0px;
	margin: 0px;
	height: 55px;
	text-align: center;
}
.bar{
	background: #053a83 url(images/bar.gif) top no-repeat;
	height: 32px;
	width: 800px;
	margin: 0px auto;
	padding: 25px 10px 5px 10px;
	color: #FFFFFF;
	text-align: left;
	font: bold 11px 'Arial';
}
.bar a{
	color: #B8BEE7;
	padding: 1px;
}
.bar a:hover{
	text-decoration: underline;
}
.menu{
	height: 45px;
	display: block;
	margin: 1px 3px;
	padding: 5px;
	border: solid 1px #053a83;
}

/* Others */
.content{
	margin: 1px auto;
	padding: 10px 5px;
	font: normal 12px "Arial";
	color: #2E3649;
	text-align: left;
	background-color: #FFFFFF;
	width: 810px;
}

.btm{
	width: 820px;
	height: 50px;
	padding: 6px 0px;
	margin: 0px auto;
	text-align: center;
	color: #88ACD5;
	background: #053a83 url(images/btm.jpg) bottom no-repeat;
	font: normal 11px "Arial";
}